<div class="container">
    <div class="section-heading text-center text-lg-start">
        <h6>Es un placer presentarme</h6>
        <h2>Bienvenidos.</h2>
    </div>
    <div class="row gy-4">
        <div class="col-lg-5">
            <div class="about-left">
                <div class="about-avatar">
                    <img src="assets/img/compu.jpg" title="" alt="">
                </div>
                <h3>Liz Montero</h3>
                <p>Desarrolladora de Software</p>
                <div class="btn-bar">
                    <a class="" href="javascript:">
                    
                    <button (click)="descargarPDF() " id="cv"  class="px-btn">Descargar Cv  <i class="bi-download"></i></button>

                    </a>

                </div>
            </div>
        </div>
        <div class="col-lg-7 ps-xl-5">
            <div class="about-bio">
                <p>Desarrolladora de software con 
                    experiencia en font-end y back-end. 
                    Competente en tecnologías como 
                    HTML, CSS, Angular, Java, C#, SQL y otros.
            </div>
            <div class="about-contact row gx-lg-5">
           
                <div class="col-sm-6">
                    <p><i class="bi-person"></i> <span>Lizbeth Montero</span> </p>
                </div>
                <div class="col-sm-6">
                    <p><i class="bi-map"></i> <span>San José, Costa Rica</span> </p>
                </div>
            </div>
            <div class="about-exp">
                <div class="row gy-4">
                    <div class="col-md-6">
                        <div class="a-number">
                            <h6>Misión</h6>
                            <span><br></span>
                        </div>
                        <p class="lead texto-justificado">Satisfacer de manera efectiva y 
                            eficiente las necesidades del usuario a 
                            través de software 
                            confiable. Además de, proporcionar soluciones 
                            innovadoras y valiosas.</p>
                    </div>
                 
                </div>
                   <div class="row gy-4">
                    <div class="col-md-6">
                        <div class="a-number">
                            <h6>Misión</h6>
                            <span><br></span>
                        </div>
                        <p class="lead texto-justificado">Satisfacer de manera efectiva y 
                            eficiente las necesidades del usuario a 
                            través de software 
                            confiable. Además de, proporcionar soluciones 
                            innovadoras y valiosas.</p>
                    </div>
                 
                </div>
                
                <blockquote>
                    <i class="fa-solid fa-quote-left"></i>
                    <p>“Siempre lista para aprender y asumir nuevos retos.”</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>