<div class="container">
    <div class="section-heading text-center text-lg-start">
        <h6>Es un placer presentarme</h6>
        <h2>Bienvenidos.</h2>
    </div>
    <div class="row gy-4">
        <div class="col-lg-5">
            <div class="about-left">
                <div class="about-avatar">
                    <img src="assets/img/compu.jpg" title="" alt="">
                </div>
                <h3>Liz Montero</h3>
                <p>Desarrolladora de Software</p>
             
    <button (click)="descargarPDF() " id="cv">Descargar PDF</button>
          
            </div>
        </div>
        <div class="col-lg-7 ps-xl-5">
            <div class="about-bio">
                <p>Desarrolladora de software con 
                    experiencia en font-end y back-end. 
                    Competente en tecnologías como 
                    HTML, CSS, Angular, Java, C#, SQL y otros.
            </div>
            <div class="about-contact row gx-lg-5">
                <div class="col-sm-6">
                    <p><i class="bi-phone"></i> <span>+506 88293745</span> </p>
                </div>
                <div class="col-sm-6">
                    <p><i class="bi-person"></i> <span>Lizbeth Montero</span> </p>
                </div>
                <div class="col-sm-6">
                    <p><i class="bi-envelope"></i> <span>lizmonram@gmail.com</span> </p>
                </div>
                <div class="col-sm-6">
                    <p><i class="bi-map"></i> <span>San José, Costa Rica</span> </p>
                </div>
            </div>
            <div class="about-exp">
                <div class="row gy-4">
                    <div class="col-md-6">
                        <div class="a-number">
                            <h6>3+</h6>
                            <span>Años<br>de experiencia</span>
                        </div>
                        <p class="lead texto-justificado">En la Universidad Cenfotec, como estudiante adquirí experiencia en ingeniería de software. 
                            Participé en proyectos académicos donde trabajé en equipos multidisciplinarios, desarrollando aplicaciones web y sistemas de bases de datos.
                            Trabajé en todas las etapas del ciclo de vida del desarrollo de software y utilicé
                            tecnologías como HTML, CSS, JavaScript, Angular, Node.js, Java y SQL..</p>
                    </div>
                 
                </div>
                <blockquote>
                    <i class="fa-solid fa-quote-left"></i>
                    <p>“Siempre lista para aprender y asumir nuevos retos.”</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>