<div class="container">
    <div class="row gy-5">
        <div class="col-lg-5">
            <div class="section-heading">
                <h6></h6>
                <h2>Mi Experiencia</h2>
                <p class="lead texto-justificado">En la Universidad Cenfotec, como estudiante adquirí experiencia en ingeniería de software. 
                    Participé en proyectos académicos donde trabajé en equipos multidisciplinarios, desarrollando aplicaciones web y sistemas de bases de datos.
                    Trabajé en todas las etapas del ciclo de vida del desarrollo de software y utilicé
                    tecnologías como HTML, CSS, JavaScript, Angular, Node.js, Java y SQL..</p>
                <div class="btn-bar">
                    <a class="px-btn dark" href="javascript:">
                       Descargar mi Cv <i class="bi-download"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-7 ps-xl-5">
            <ul class="resume-box">
               
                <li>
                    <div class="r-meta">
                        <span>-2020 - Actualmente</span>
                        <label>Universidad Cenfotec</label>
                    </div>
                    <h5>BACHILLERATO EN INGENIERÍA DEL
                        SOFTWARE
                        </h5>
                </li>
                <li>
                    <div class="r-meta">
                        <span>-2020 - 2022</span>
                        <label>Universidad Cenfotec</label>
                    </div>
                    <h5>TÉCNICO SUPERIROR EN DESARROLLO
                        DEL SOFTWARE</h5>
                </li>
            </ul>
        </div>
    </div>
</div>
