<div class="container">
    <div class="row gy-5">
        <div class="col-lg-5">
            <div class="section-heading">
                <h2>Contáctame</h2>
            </div>
            <div class="contact-info">
                <ul>
                    <li>
                        <div class="icon">
                            <i class="bi bi-linkedin"></i>
                        </div>
                        <div class="text">
                            <label>
                            <a  class="whatsapp-link" href="https://www.linkedin.com/in/lizbeth-montero-ramirez/" target="_blank" >Linkedin</a>
                        </label>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="bi bi-whatsapp"></i>

                        </div>
                        <div class="text">
                            <label > 
                                <a class="whatsapp-link" href="https://api.whatsapp.com/send?phone=50688293745&text=¡Hola! Estoy interesado en tus servicios." target="_blank">Contactar por WhatsApp</a>
                            </label>
                          
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="bi-envelope"></i>
                        </div>
                        <div class="text">
                            <label>Correo electrónico</label>
                            <p><span><a class="text-reset" href="mailto:lizmonram@gmail.com">lizmonram@gmail.com</a></span></p>
                        </div>
                    </li>
                  
                </ul>
                <div class="google-map">
                    <div class="ratio ratio-21x9">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15723.59030173111!2d-84.1899716!3d9.9371078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e342c50d15c5%3A0xe6746a6a9f11b882!2sSan%20Jos%C3%A9%20Province%2C%20San%20Jos%C3%A9%2C%20Costa%20Rica!5e0!3m2!1sen!2sus!4v1628320604012!5m2!1sen!2sus" allowfullscreen="" loading="lazy"></iframe>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 ps-xl-5">
            <div class="contact-form bg-g">
                <div class="contact-head">
                    <h4>Escribe tu Mensaje.</h4>
                  
                </div>
                <form id="contact-form" method="POST">
                    <div class="row gx-3 gy-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Nombre</label>
                                <input name="Name" id="name" placeholder="Nombre *" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Correo electrónico</label>
                                <input name="Email" id="email" placeholder="Email *" class="form-control" type="email">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-label">Asunto</label>
                                <input name="Subject" id="subject" placeholder="Asunto *" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Mensaje</label>
                                <textarea name="message" id="message" placeholder="Su mensaje *" rows="6" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="send">
                                <button class="px-btn dark w-100" type="button" value="Send"> Enviar Mensaje</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>