<div class="container">
    <div class="row  min-vh-100 align-items-center">
        <div class="col-lg-7 col-xl-7 col-xxl-6">
            <div class="hb-text">
                <h1>Lizbeth  <span><br> MONTERO</span></h1>
                <p class="lead"><span>Desarrolladora de Software.</span> </p>
                <div class="btn-bar">
                    <a class="px-btn"  href="#contact">
                        Trabaja conmigo <i class="bi-arrow-up-right"></i>
                    </a>
                </div>
                <div class="info-bar">
                    <p><i class="bi-phone"></i> <span>+506 88293745</span></p>
                    <p><i class="bi-envelope"></i> <span>lizmonram@gmail.com</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hb-me" style="background-image: url(assets/img/liz.jpg);"></div>
<div class="social-fix">
   
</div>